<h2>Articles</h2>
<p>
  <button *ngIf="loginService.isLoggedIn()" type="button" class="btn btn-primary"
	  (click)="onNew()">New Article</button>
</p>
<p>
  <article-edit [article]="selectedArticle" (onRefresh)="onRefresh()"></article-edit>
</p>
<table class="table table-bordered table-striped" style="table-layout: auto">
  <tbody>
    <tr *ngFor="let article of articles">
      <td><a [routerLink]="['/article', article._id]" >{{ article.title }}</a></td>
      <td>
	<button *ngIf="loginService.isLoggedIn()" type="button" class="btn"
		[class.btn-primary]="article !== selectedArticle"
		[class.btn-success]="article === selectedArticle"
		(click)="onSelect(article)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
 
