<h2>Articles</h2>
 <button *ngIf="loginService.isLoggedIn()" type="button" class="btn btn-primary" (click)="onNew()">New Article</button>
 <ul class="articles">
   <li *ngFor="let article of articles">
     {{ article.title }}
     <button type="button" class="btn" [class.btn-success]="article === selectedArticle"
	     [class.btn-primary]="article !== selectedArticle" (click)="onShow(article)">Show</button>
     <button *ngIf="loginService.isLoggedIn()" type="button" class="btn btn-primary" (click)="onSelect(article)">Edit</button>
   </li>
 </ul>
 <article-edit [article]="selectedArticle" (onRefresh)="onRefresh()"></article-edit>
